.display{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    color: #fff;
    font-weight: 400;
    position: absolute;
    top: -60px;
    left: 30px;
    border-radius: 10px 10px 10px 0;
    background: linear-gradient(91.6deg, rgba(151, 151, 151, 0.35) 4.6%, rgba(83, 83, 83, 0.35) 95.51%);
    backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 8;
}

.noDisplay{
    display: none;
}